<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>教材列表</title>
  <link rel="stylesheet" href="../../style/main.css">
</head>
<!-- <div class="header"></div> -->
<div class="nav">
  <div class="wrap">
    <ul class="nav-left">
      <li>
        <a href="t-index.html">首页</a>
      </li>
      <li>
        <a href="#" class="active">教材</a>
      </li>
      <li class="line"></li>
      <li>
        <a href="t-classes.html">我的教学</a>
      </li>
    </ul>
    <ul class="nav-right">
      <li>
        <a href="#">建立课程</a>
      </li>
      <li class="line"></li>
      <li>
        <a href="#">通过序列号获取资源权限</a>
      </li>
    </ul>
  </div>

</div>
<div class="teachinglist">
  <div class="wrap">
    <div class="teachinglist-title">
      <!-- <a href="#">首页</a> -->
    </div>
    <ul class="sidebar fl">
      <li>教材一级分类</li>
      <li>教材一级分类</li>
      <li>教材一级分类</li>
      <li>教材一级分类</li>
    </ul>
    <div class="teaching-content fl">
      <div class="teaching-content-count fl">共
        <i>100</i>个教材</div>
      <div class="teaching-coutent-btn fr">
        <i>1</i>/10</div>
    </div>
    <div id="teachings"></div>
  </div>

</div>

<div class="footer"></div>

<body>
  <script src="../../lib/require.js" data-main="../../app.js"></script>
</body>

</html>
