<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>开课中</title>
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="nav clearfix">
    <div class="wrap">
      <ul class="nav-left">
        <li>
          <a href="t-index.html">首页</a>
        </li>
        <li>
          <a href="t-book.html">教材</a>
        </li>
        <li class="line"></li>
        <li>
          <a href="#" class="active">我的教学</a>
        </li>
      </ul>
      <ul class="nav-right">
        <li>
          <a href="#">建立课程</a>
        </li>
        <li class="line"></li>
        <li>
          <a href="#">通过序列号获取资源权限</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrap clearfix">
    <div class="t-Coursemanage-title clearfix">
      <div class="manage-left fl">
        <a href="javascript:;" class="fl active">开课中</a>
        <a href="javascript:;" class="fl">已完成</a>
      </div>
      <div class="manage-right fr">
        <a href="javascript:;">课程管理</a>
      </div>
    </div>
    <ul class="t-courseManage">
      <li>
        <a href="javascript:; fl">
          <img src="../../asset/img/course-1.png" alt="" class="fl">
        </a>
        <div class="manage-fr fl">
          <h2 class="course-title">电力电子技术基础课程</h2>
          <span>需要验证后才可加入课程</span>
          <span>邀请码
            <i>00029309</i>
          </span>
          <span>截止时间
            <i>2017.09.10</i>
          </span>
          <span>
            <i>
              <img src="../../asset/img/icon-people.png">
            </i>200</span>
        </div>
      </li>
      <li>
        <a href="javascript:; fl">
          <img src="../../asset/img/course-2.png" alt="" class="fl">
        </a>
        <div class="manage-fr fl">
          <h2 class="course-title">电力电子技术基础课程</h2>
          <span>需要验证后才可加入课程</span>
          <span>邀请码
            <i>00029309</i>
          </span>
          <span>截止时间
            <i>2017.09.10</i>
          </span>
          <span>
            <i>
              <img src="../../asset/img/icon-people.png">
            </i>200</span>
        </div>
      </li>
      <li>
        <a href="javascript:; fl">
          <img src="../../asset/img/course-3.png" alt="" class="fl">
        </a>
        <div class="manage-fr fl">
          <h2 class="course-title">电力电子技术基础课程</h2>
          <span>需要验证后才可加入课程</span>
          <span>邀请码
            <i>00029309</i>
          </span>
          <span>截止时间
            <i>2017.09.10</i>
          </span>
          <span>
            <i>
              <img src="../../asset/img/icon-people.png">
            </i>200</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../app.js"></script>
</body>

</html>