<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <!-- <div class="header"></div> -->
  <div class="nav">
    <div class="wrap">
      <ul class="nav-left">
        <li>
          <a href="#" class="active">首页</a>
        </li>
        <li>
          <a href="t-book.html">教材</a>
        </li>
        <li class="line"></li>
        <li>
          <a href="t-classes.html">我的教学</a>
        </li>
      </ul>
      <ul class="nav-right">
        <li>
          <a href="#">建立课程</a>
        </li>
        <li class="line"></li>
        <li>
          <a href="#">通过序列号获取资源权限</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="banner clearfix">
    <div class="wrap">
      <ul class="banner-img">
        <li>
          <a href="#">
            <img src="../../asset/img/carousel.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hot-teaching">
    <div class="wrap">
      <h2 class="book-title">热门教材</h2>
      <div id="books"></div>
    </div>
    <div class="footer"></div>
  </div>
  <script src="../../lib/require.js" data-main="../../app.js"></script>
</body>

</html>
