footer.foo_cla {
  width: 100%;
  height: 140px;
  background-color: #373a43;
  .copyright {
    height: 14px;
    width: 1190px;
    margin: 0px auto;
    padding-top: 46px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }
}
