<div class="stu_mystudy_tpl">


  <ul class="mystudy_nav">
    <li class="flo_le nav_le active">开课中</li>
    <li class="flo_le nav_le">已完结</li>
    <li class="nav_ri">课程管理</li>
    <!-- <div class="abs"></div> -->
  </ul>
  <!-- 待批改项*********开始 -->
  <ul class="mystudy_wrap">
    <li class="mystudy_item">
      <div class="item_le">
        <img class="item_le_img " src="" alt="稍等片刻">
        <div class="item_le_ab">待批作业</div>
      </div>

      <div class="item_ri">

        <h3>电力电子技术基础课程</h3>

        <ul class="mystudy_info">
          <li class="flo_le info_item">任课教师&nbsp;&nbsp;张三丰&nbsp;中医药大学</li>
          <li class="flo_le info_item">邀请码&nbsp;&nbsp;0022336655</li>

          <li class="flo_le info_item">截止时间&nbsp;&nbsp;2018.05.31</li>
          <li class="flo_le info_item">
            <i class="fa fa-user-o"></i>&nbsp;&nbsp;200 </li>
        </ul>
        <hr>
        <div></div>
        <!-- <ul class="mystudy_work">
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">活动</li>
              <li class="flo_le tag_section">活动通知标题</li>
              <li class="flo_le tag_section">活动时间</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">通知</li>

              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
        </ul> -->
      </div>
    </li>
  </ul>
  <!-- 待批改项*********结束 -->


  <!-- 无权限*****开始 -->
  <ul class="mystudy_wrap">
    <li class="mystudy_item">
      <div class="item_le">
        <img class="item_le_img " src="" alt="稍等片刻">
        <div class="item_le_ab">无权限</div>
      </div>

      <div class="item_ri">

        <h3>电力电子技术基础课程</h3>

        <ul class="mystudy_info">
          <li class="flo_le info_item">任课教师&nbsp;&nbsp;张三丰&nbsp;中医药大学</li>
          <li class="flo_le info_item">邀请码&nbsp;&nbsp;0022336655</li>

          <li class="flo_le info_item">截止时间&nbsp;&nbsp;2018.05.31</li>
          <li class="flo_le info_item">
            <i class="fa fa-user-o"></i>&nbsp;&nbsp;200 </li>
        </ul>
        <hr>
        <!-- <ul class="mystudy_work">
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">活动</li>
              <li class="flo_le tag_section">活动通知标题</li>
              <li class="flo_le tag_section">活动时间</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">通知</li>

              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
        </ul> -->
      </div>
    </li>
  </ul>
  <!-- 无权限*****结束 -->


  <!-- 视频类内容管理******开始 -->
  <ul class="mystudy_wrap">
    <li class="mystudy_item">
      <div class="item_le">
        <img class="item_le_img " src="" alt="稍等片刻">
        <div class="item_le_ab">无权限</div>
      </div>

      <div class="item_ri">

        <h3>电力电子技术基础课程</h3>

        <ul class="mystudy_info">
          <li class="flo_le info_item">任课教师&nbsp;&nbsp;张三丰&nbsp;中医药大学</li>
          <li class="flo_le info_item">邀请码&nbsp;&nbsp;0022336655</li>

          <li class="flo_le info_item">截止时间&nbsp;&nbsp;2018.05.31</li>
          <li class="flo_le info_item">
            <i class="fa fa-user-o"></i>&nbsp;&nbsp;200 </li>
        </ul>
        <hr>
        <ul class="mystudy_work">
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">待提交</li>
              <li class="flo_le tag_section">第一章作业</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">活动</li>
              <li class="flo_le tag_section">活动通知标题</li>
              <li class="flo_le tag_section">活动时间</li>
              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
          <li class="work_item">
            <ul class="item_list">
              <li class="flo_le tag_color">通知</li>

              <li class="flo_le tag_time">00：00 00:00--00:00 00:00</li>
              <li class="flo_ri">
                <i class="fa fa-times"></i>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <!-- 视频类内容管理******开始 -->
  <div class="mystudy_bottom">
    <div class="flo_le ">共
      <span class="color">100</span> 个课程</div>
    <div class="flo_le ">分页器</div>
  </div>
</div>