<header class="hea_cla">
  <div class="stu_header_first">
    <nav class="float_left logo">
      <img src="../../asset/img/logo.png" alt="" title="哈工大在线教育">
      <h1>哈工大在线教育</h1>
    </nav>
    <div class="bug">
    </div>
    <ul class="float_left users">
      <li class="float_left ">
        <div class="first">
          <i class="fa fa-commenting-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>
      <li class="float_left ">
        <div class="second">
          <img class="imgSrc" src="../../asset/img/portrait.png" alt="" title="我是张三">
        </div>

      </li>
      <li class="float_left">
        <div class="users-menu-wrap">
          <span>张三</span>
        </div>
      </li>
      <li class="float_left ">
        <div class="users-menu-wrap">
          <a href="../../index.html">退出</a>
        </div>
      </li>
    </ul>
  </div>
</header>