<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/main.css">
  <title>stu_hot_course_details</title>
</head>

<body>
  <header class="stu_header_cla_details">打通HTML页面 。入口文件，入口文件引入的模板，模板文件。添加样式效果</header>
  <nav class="stu_nav_b_r_cla_details">我是两种颜色的导航</nav>
  <nav class="stu_hot_course_details_nav_cla_details">我是二级导航</nav>
  <div class="stu_hot_course_details_top_cla_details">
    我是学生端中详情页的上头部分---有图片，时间，老师，开课，学生人数等内容
  </div>
  <footer class="stu_footer_cla_details">我是脚部模板引入的</footer>
  <script src="/lib/require.js" data-main="/js/student/stu_hot_course_details.js"></script>
</body>

</html>