<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>stu_hot_course_lists</title>
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/lib/stu_hcl_ri_b_paging_style.css">
  <link rel="stylesheet" href="/style/main.css">
</head>

<body>
  <header class="stu_header_cla_lists">打通HTML页面 。入口文件，入口文件引入的模板，模板文件。添加样式效果</header>
  <nav class="stu_nav_b_r_cla_lists">我是两种颜色的导航</nav>
  <nav class="stu_hot_course_lists_nav_cla_lists">我是二级导航</nav>
  <main class="stu_hot_course_lists_main_cla_lists">
    <div class="nav-menu">

    </div>
    <div class="course-list"></div>
  </main>
  <footer class="stu_footer_cla_lists">我是脚部模板引入的</footer>
  <script src="/lib/require.js" data-main="/js/student/stu_hot_course_lists.js"></script>

</body>

</html>