<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stu_index</title>
    <!-- <link rel="stylesheet" href="/src/lib/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/main.css">
</head>

<body>


    <header class="stu_header_cla_index">打通HTML页面 。入口文件，入口文件引入的模板，模板文件。添加样式效果</header>
    <nav class="stu_nav_b_r_cla_index">我是两种颜色的导航</nav>

    <div class="stu_carousel_ind_cla_index">轮播图</div>
    <div class="stu_Recommended_cla_index">推荐课程</div>
    <div class="stu_Popular_teaching_material_cla_index">热门教材</div>
    <footer class="stu_footer_cla_index">我是脚部模板引入的</footer>
    <script src="/lib/require.js" data-main="/js/student/stu_index.js"></script>

</body>

</html>