<div class="stu_hot_course_lists_tpl">
  <ul class="stu_hcl_le">
    <!-- <li class="title_nav">jingran meiyou </li> -->
    <!-- **************** -->
    <!-- <li class="title_nav">jingran meiyou </li> -->
    <!-- **************** -->
    <!-- ***************** -->
    {{each hot_course_lists as val}}
    <li class="title_nav">
      <h3>
        <span class="title_nav_hid">+</span> {{val.title}}
      </h3>
      <ul class="content_hid">
        <li class="content_hi active">{{val.content1}}</li>
        <li class="content_hi">{{val.content2}}</li>
        <li class="content_hi">{{val.content3}}</li>
      </ul>
    </li>
    {{/each}}

    <!-- ****************** -->
    <!-- *************** -->
    <!-- <li class="title_nav">jingran meiyou </li> -->
    <!-- *************** -->
  </ul>
  <ul class="stu_hcl_ri">
    <li class="stu_hcl_ri_t">
      <span>共
        <span>100</span> 个课程</span>
      <span>
        &lt;</span>
      <span>1</span>
      <span>/</span>
      <span>10</span>
      <span>&gt;</span>
    </li>
    <div class="stu_hcl_ri_m">
      <!-- ********************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->
      <li class="stu_hcl_ri_m_item">
        <img src="/asset/img/course_map2.png" alt="" title="wosshi ">
        <h3>好好学习好好学习天天向上天天向上</h3>
        <span>谦太详和</span>
        <span>就找全栈老马</span>
      </li>
      <!-- ******************** -->

    </div>
    <li class="stu_hcl_ri_b">
      <div class="stu_hcl_ri_b_le">go1122</div>
      <div class="stu_hcl_ri_b_paging_style stu_hcl_ri_b_paging_box"></div>
    </li>
  </ul>
  <div class="clear_fix"></div>
</div>