<div class="stu_hot_course_details_top">
  <!-- 我是学生端中详情页的上头部分-有图片，时间，老师，开课，学生人数等内容 -->
  <div class="stu_de_le">
    <img class="stu_de_le_img" src="/asset/img/course_map7.png" alt="" title="我是图片7">
  </div>
  <div class="stu_de_ri">
    <h2>课程名字</h2>
    <span class="course_vis">课程邀请码</span>&nbsp;&nbsp;&nbsp;
    <span class="course_num">12365478</span>
    <div class="sep_line"></div>
    <table class="ta_cla">
      <tbody class="tb_cla">
        <tr>
          <td>任课教师</td>
          <td>张三疯</td>
          <td colspan="2">东南大学</td>
          <td></td>
          <td>开课时间</td>
          <td colspan="3">2018.09.08-2019.06.04</td>
        </tr>
        <tr>
          <td>报名权限</td>
          <td colspan="3">所有用户都可以报名</td>
          <td></td>
          <td>学生人数</td>
          <td>200</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <span class="join_course">加入课程</span>

  </div>
</div>
<div class="stu_hot_course_details_bottom_wrap">

  <div class=" stu_hot_course_details_bottom_le">
    <h3 class="title_intro">课程介绍</h3>

    <ul class="content_wrap">
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>

    </ul>
    <div class="sep_line"></div>
    <h3>教师介绍</h3>
    <ul class="content_wrap">
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
      <li class="content_item te_ind_2">
        虽然前端的MVVM开发模式已经进入各个公司和各个开发人员的视野，而且也异常火爆。为什么还要学习jQuery呢？ Query库封装的的确非常经典，做一下小项目和简单的项目足够支撑
      </li>
    </ul>
    <div class="sep_line"></div>
    <h3>课程目录</h3>
    <ul class="content_wrap">
      <li class="content_item">第二课时，haohao学习，天天向上</li>
      <li class="content_item">第二课时，haohao学习，天天向上</li>
      <li class="content_item">第二课时，haohao学习，天天向上</li>
      <li class="content_item">第二课时，haohao学习，天天向上</li>
    </ul>

  </div>
  <div class=" stu_hot_course_details_bottom_ri_t con_det_bot_ri">
    <span class="title">选用的教材</span>
    <li class="img_p_wrap">
      <img class="con_det_bot_img" src="/asset/img/course_map8.png" alt="" title="我是图片1">
      <p class="title_p">平面几何立体几何平面几何立体几何</p>
    </li>

  </div>
  <div class=" stu_hot_course_details_bottom_ri_b  con_det_bot_ri">
    <span class="title">选用的教材
      <span class="title_right">more...</span>
    </span>
    <li class="img_p_wrap">
      <img class="con_det_bot_img" src="/asset/img/course_map6.png" alt="" title="我是图片1">
      <p class="title_p">平面几何立体几何平面几何立体几何</p>

      <img class="con_det_bot_img" src="/asset/img/course_map5.png" alt="" title="我是图片1">
      <p class="title_p">平面几何立体几何平面几何立体几何</p>
    </li>
  </div>
  <div class="stu_hot_course_details_bottom_wrap_clear_fix"></div>
</div>