@import '../stu_common_tpl.scss';

.stu_hot_course_lists_tpl {
  width: 1190px;
  margin: 0px auto;
  background-color: red;
  overflow: hidden;
  .stu_hcl_le {
    float: left;
    box-sizing: border-box;
    width: 240px;
    background-color: yellow;
    margin-right: 10px;
    // & > li:first-child {
    //   border-radius: 4px 4px 0px 0px;
    // }
    .title_nav {
      background-color: #fbfbfb;
      margin-bottom: 10px;

      h3 {
        position: relative;
        border-radius: 4px;
        height: 35px;
        line-height: 35px;
        border: 1px solid $stu_hcd_bg_border;
        padding-left: 28px;
        cursor: pointer;
        &:hover {
          background-color: aqua;
        }
        .title_nav_hid {
          position: absolute;
          top: 11px;
          left: 10px;
          display: inline-block;

          background-color: $stu_hcd_lit_blue_bg;
          color: $stu_hcd_bg_box;
          height: 1em;
          line-height: 1em;
          width: 1em;
          border-radius: 4px;
          text-align: center;
        }
      }
      .content_show {
        display: block;
      }
      .content_hid {
        display: none;
        background-color: $stu_hcd_bg_box;

        & > li:last-child {
          border-radius: 0px 0px 4px 4px;
        }
        .content_hi {
          height: 35px;
          line-height: 35px;
          border: 1px solid $stu_hcd_bg_border;
          margin-top: -1px;
          padding-left: 28px;
          cursor: pointer;
          &:hover {
            background-color: $stu_hcd_lit_blue_bg;
          }
          &.active {
            background-color: red;
          }
        }
        .active {
          background-color: $stu_hcd_lit_blue_bg;
        }
      }
    }
  }
  .stu_hcl_ri {
    float: left;
    width: 940px;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: green;
    border: 1px solid #ccc;
    .stu_hcl_ri_t {
      height: 60px;
      line-height: 60px;
      background-color: yellow;
    }
    .stu_hcl_ri_m {
      width: 940px;
      height: 1270px;
      background-color: #ccc;
      padding: 18px 10px 10px 10px;
      box-sizing: border-box;
      border: 1px solid #f48;
      box-shadow: 1px 0px 5px #f48;
      display: flex;
      flex-flow: row wrap;
      // align-content: space-between;
      align-content: flex-start;
      justify-content: space-between;
      overflow: hidden;
      .stu_hcl_ri_m_item {
        height: 250px;
        width: 208px;
        background-color: yellow;
        img {
          height: 184px;
          width: 208px;
          display: inline-block;
          margin-bottom: 10px;
        }
        h3 {
          color: red;
        }
      }
    }

    .stu_hcl_ri_b {
      height: 70px;
      line-height: 70px;
      background-color: yellow;
      .stu_hcl_ri_b_le {
        float: left;
      }
      //********************
      .stu_hcl_ri_b_paging_style {
        float: left;
        position: relative;
        text-align: center;
        zoom: 1;
      }
      //***********************
    }
  }
  .clear_fix {
    clear: both;
    height: 20px;
    background-color: pink;
  }
}
